    <!-- page header -->
    {% load static %}
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
           {% for p in person %}
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am {{p.name}}</span>
            </h1>
            <p class="header-subtitle">{{p.job}}</p>

            <a class="btn btn-primary"  href="#portfolio">Visit My Works</a>
            {% endfor %}
        </div>
    </header>
    <!-- end of page header -->
