{% extends "base.html" %}
{% load static %}  
{% block title %}

{% endblock title %}

{% block content %}

{% include "includes/navbar.html" %}

{% include "includes/header.html" %}

{% include "includes/about.html" %}

{% include "includes/services.html" %}

{% include "includes/portfolio.html" %}

{% include "includes/hire_me.html" %}

{% include "includes/testimonial.html" %}

{% include "includes/blog.html" %}

{% include "includes/contact.html" %}

{% include "includes/footer.html" %}


{% endblock content %}
